.imagenPrincipal { 
    background-image: url("../img/4486959.jpg"); 
    background-size: 100%; 
    height: 700px; 
    width: auto; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed; 
    margin-left: auto; 
    margin-right: auto; 
  } 

.redes{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: flex-end;
}

.icon{
    display: flex;
    width: 40px;
    height:40px;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.icon :hover{
    display: flex;
    width: 40px;
    height:40px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid #e68cb9;
    cursor: pointer;
}

nav{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
   
}
.menu{
    display: inline-flex;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    
}

.logo{
    align-items: center;
    justify-content: center;
}

.seccion:hover{
    color: #118ab2;
    cursor: pointer;

}


.contenido{
    background-image: url("../img/blurred-bokeh-style-lights-in-the-evening.jpg"); 
    background-size: 100%; 
    display: flex;
    column-gap: 40px;
    padding: 100px 20px 100px 20px;

}

.col1{
    flex-basis: 24.6%;
}

.col2{
    flex-basis: 49.8%;
    justify-content: center;
    font-family: 'Poppins', sans-serif;


}

.imagen{
    max-width: 100%;
    max-height: 100%;
}

.galeria{
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("../img/fondoA.png"); 
    background-size: 100%; 
    height: 700px; 
    width: auto; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed; 
    margin-left: auto; 
    margin-right: auto; 

    

}

.caja{
  width: 100%;
}

.A{
    grid-column: 1/span 2;
    align-self: start;
}

.B{
    grid-column: 3;
    grid-row: 1/span 2;
}

.productos{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    column-gap: 40px;
}

body{
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff;
  }
  
  
  .contact_form{
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #000000;
    padding-left: 30px;
  }
  
  
  input{
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  
  
  textarea{
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  
  
  label{
    display: block;
  }
  
  
  button{
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
  }
  
  
  button p{
    color: #000000;
  }
  
  
  span{
    color: #ffffff;
  }
  
  
  .aviso{
    font-size: 13px;
    color: #ffffff;
  }
  
  
  h1{
    font-size: 39px;
    padding-bottom: 20px;
    color: #ffffff;
  }
  
  
  h3{
    font-size: 16px;
    padding-bottom: 30px;
    color: #ffffff;
  }
  
  
  p{
    font-size: 14px;
    color: #ffffff;
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  a:link, a:visited, a:active {
    text-decoration:none;
}



.carta{
  background-image: url("../img/menu2.png"); 
  background-size: 100%;
  height: 1000px; 
  width: auto; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
   
  margin-left: auto; 
  margin-right: auto; 
}

.contenido{
  font-family: 'Architects Daughter', cursive;
}

.story{
  background-image: url("../img/DREAMBURGER.png");
  background-size: 100%;
  height: 700px; 
  width: auto; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
   
  margin-left: auto; 
  margin-right: auto; 
}
